:root {
  --scale: 1;

  --shadow-right: calc(var(--scale) * .6vw);
  --shadow-down: calc(var(--scale) * .3vw);
  --shadow-spread: calc(var(--scale) * .3vw);
  --shadow-padding: calc(max(var(--shadow-down), var(--shadow-right)) + var(--shadow-spread));
  --shadow-hover-right: calc(var(--scale) * .3vw);
  --shadow-hover-down: calc(var(--scale) * .2vw);
  --shadow-hover-spread: calc(var(--scale) * .1vw);
  --shadow-padoffset: calc(var(--scale) * .2vw);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times Pixelated 24', 'Times New Roman', serif;
  font-size: 1.44vw;
  line-height: 1.3em;
  min-height: 100%;
  -webkit-font-smoothing: none;
  cursor: url(/images/cursor.png), default;
}

html {
  background-color: rgb(210, 177, 108);
  background-image: url('/images/backgroundlightcomp.jpg');
  background-size: cover;
  background-position: center top;
}

html.showAlt {
  background-color: #FFFFFF;
  background-image: url('/images/checkers.png');
  background-size: 1vw;
}

* {
  box-sizing: border-box;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input, textarea, button {
  font-family: 'Times Pixelated 24', 'Times New Roman', serif;
  font-size: 1.44vw;
  line-height: 1.3em;
  border-width: 0.2vw;
  border-color: #dddddd;
  padding: 0.3vw;
}

input, textarea {
  border-style: inset;
}


@media only screen and (orientation: portrait), only screen and (max-width: 768px)  {
  :root {
    --scale: 3;
  }

  html,
  body {
    font-family: 'Times Pixelated 24', 'Times New Roman', serif;
    font-size: 6.4vw;
  }

  a {
    text-decoration: underline;
  }

  html.showAlt {
    background-size: 2vw;
  }

  input, textarea, button {
    font-size: 6.4vw;
    border-width: 0.4vw;
    padding: 0.6vw;
  }
}