
.shadow {
  filter: drop-shadow(
    var(--shadow-right)
    var(--shadow-down)
    var(--shadow-spread)
    rgba(0,0,0,.6)
  );
  padding: var(--shadow-padding);
  box-sizing: content-box;
}

.shadowHover:hover {
  filter: drop-shadow(
    var(--shadow-hover-right)
    var(--shadow-hover-down)
    var(--shadow-hover-spread)
    rgba(0,0,0,.6)
  );

  padding:
    calc(var(--shadow-padding) + var(--shadow-padoffset))
    calc(var(--shadow-padding) - var(--shadow-padoffset))
    calc(var(--shadow-padding) - var(--shadow-padoffset))
    calc(var(--shadow-padding) + var(--shadow-padoffset))
  ;

  cursor: pointer;
}

.flipHover:hover img {
  transform: scaleX(-1);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vw 5vw;
  position: relative;
}

.element {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elementText {
  margin-bottom: .5vw;
  width: 99%;
}

.logo {
  width: 30vw;
  z-index: 1;
}

.star, .eyes, .falce, .pestello, .stone, .world {
  width: 6vw;
}

.star {
  top: 27vw;
  left: 30vw;
  transform: translate(-50%, -100%);
}

.eyes {
  top: 27vw;
  right: 30vw;
  transform: translate(50%, -100%);
}

.falce {
  top: 37vw;
  left: 20vw;
  transform: translate(-50%, -100%);
}

.pestello {
  top: 37vw;
  right: 19vw;
  transform: translate(50%, -100%);
}

.stone {
  top: 32vw;
  left: 50%;
  transform: translate(-50%, -100%);
}

.world {
  top: 32vw;
  left: 50%;
  transform: translate(-50%, -100%);
}

.runestone{
  position: absolute;
  z-index: 0;
  top: -25vw;
  width: 53vw;
  left: 50%;
  transform: translate(-50%, 0);
}

.form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 35vw;
  color: white;
  text-shadow: 0 0 0.4vw black;
}

.formLine {
  display: flex;
  flex-direction: column;
  margin: .3vw;
}

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
}

.archive {
  --margin: calc(var(--scale) * 1vw);
  --border: calc(var(--scale) * .2vw);
  display: flex;
  flex-direction: row;
  border: outset var(--border) #dddddd;

  margin-top: var(--margin);
  width: 100%;
  max-height: 62vh;
}

.archiveColumn {
  --padding: calc(var(--scale ) * 1vw);
  --border: calc(var(--scale) * .2vw);
  padding: var(--padding);
  border: inset var(--border) #dddddd;
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  word-break: break-all;
}

.archiveColumn.archiveMenu {
  width: 20vw;
  background-color: #fff2db;
  max-height: 100%;
  overflow: auto;
  flex-shrink: 0;
}

.archiveColumn.archiveContent {
  flex: 1 1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-height: 100%;
}

.archiveImage {
  object-fit: contain;
  max-height: 90%;
}

.archiveTitle {
  max-height: 10%;
}

@media only screen and (orientation: portrait), only screen and (max-width: 768px)  {
  .form {
    width: 70vw;
  }

  .formLine {
    margin: .6vw;
  }

  .container {
    padding: 5vw;
  }

  .elementText {
    margin-bottom: 2vw;
  }

  .logo {
    width: 90vw;
  }

  .star, .eyes, .falce, .pestello, .stone, .world {
    width: 23vw;
  }

  .star {
    top: 90vw;
    left: 30vw;
  }

  .eyes {
    top: 90vw;
    right: 30vw;
  }

  .falce {
    top: 135vw;
    left: 30vw;
  }

  .pestello {
    top: 135vw;
    right: 30vw;
  }

  .stone {
    top: max(170vw, 81vh);
  }

  .world {
    top: max(170vw, 81vh);
  }

  .runestone{
    top: 0vw;
    width: 100vw;
    padding: 0;
  }

  .archive {
    flex-direction: column-reverse;
    max-height: none;
  }

  .archiveColumn.archiveColumn {
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Times Pixelated 16', 'Times New Roman', serif;
    font-size: 4.2vw;
  }

  .archiveColumn.archiveMenu {
    width: auto;
  }

}